.blue {
    background-color: blue;
}

.silver {
    background-color: silver;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}